body {
  margin: 0 auto;
  background-color: #2a9134;
}

img {
  width: 12%;
  transition: transform 0.5s linear;
  position: absolute;
}

.south {
  transform: rotate(90deg);
}

.north {
  transform: rotate(270deg);
}

.west {
  transform: rotate(180deg);
}

.east {
  transform: rotate(0deg);
}
